@import 'colors';

:host
{
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.container
{
  padding: 1em;
  flex-shrink: 0;
  min-width: 700px;
  margin-bottom: 1em;

  header
  {
    margin: 1em 0;
  }

  .hg-form
  {
    padding: 1em;
  }
}

textarea
{
  max-width: 660px;
}

.save
{
  flex-shrink: 0;
  margin-bottom: 1em;
  min-width: 700px;
  min-height: 70px;
}
