@import 'colors';

.notification
{
  transition: opacity 500ms;
  position: fixed;
  bottom: 32px;
  left: 80px;
  padding: 15px 25px 20px;
  display: flex;
  flex-flow: column;
  min-width: 200px;
  border-top: 2px solid $foreground-t2;
  color: $foreground-t1;
  z-index: 1000;
  opacity: 0;

  &.fadeIn
  {
    opacity: 1;
  }

  &.success
  {
    border-color: $accent;
  }

  &.warning
  {
    border-color: $accent4;
  }

  &.error
  {
    border-color: $accent2;
  }
}

.title
{
  font-weight: 100;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.message
{
  font-size: 1em;
}
