<div class="container">

  <div class="material level-1 detail">
    <header class="">
      <i class="btn-icon {{course.icon}}"></i>
    </header>
    <div class="content">
      <h1 class="title">{{course.title | uppercase}}</h1>
      <span class="subtitle">{{course.subtitle}}</span>
      <p>{{course.overview}}</p>
    </div>
    <div class="actions">
      <button type="button" class="hg-button primary" (click)="resume()">Resume</button>
    </div>
  </div>

  <div class="material level-1 lessons" *ngIf="lessonPanels.length > 0">
    <table class="hg-table" *ngFor="let lesson of course.lessons, let i=index" [ngClass]="{riched: !notReached(i, 0)}">
      <h1 (click)="togglePanel(i)"><span class="course-number">{{i}}</span>{{lesson.title}}</h1>
      <span class="icon-button close-button" (click)="togglePanel(i)"><i class="fa fa-chevron-{{isExpanded(i) ? 'up': 'down'}}"></i></span>
      <tbody [hidden]="!isExpanded(i)">
        <tr class="hoverable" *ngFor="let exercise of lesson.exercises, let exIndex=index" [ngClass]="{riched: !notReached(i, exIndex), current: exIndex === currentExerciseIndex}">
          <td class="status-icon"><i class="fa fa-circle"></i></td>
          <td class="full">{{exercise.title}} <span>Intractive Lesson</span></td>
          <td class="time"><span>{{exercise.time}}&nbsp;min</span></td>
          <td class="experience"><span>{{exercise.gainedExp}}/{{exercise.experience}}xp</span>
            <hg-loading-bar [value]="exercise.gainedExp" [maxValue]="exercise.experience"></hg-loading-bar>
          </td>
          <td class="actions"><button [disabled]="notReached(i,exIndex)" (click)="letsLearn(i, exIndex)" class="hg-button {{exercise.isDone ? 'level-2': 'primary' }}">{{ exercise.isDone ? 'Again' : 'Go!'}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
